* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content-wrapper {
    width: 100%;
    min-width: 1280px;
}

/* 顶部导航条 */
header {
    height: 55px;
    position: relative;
}
.logo {
    background-image: url("../img/logo.png");
    margin-top: 13px;
    margin-left: 55px;
    margin-right: 10px;
    height: 31px;
    width: 31px;
    float: left;
}
.logo-text {
    font-size: 21px;
    color: #393a3a;
    font-family: "Adobe 黑体 Std R", "黑体", sans-serif;
    position: absolute;
    top: 18px;
    float: left;
}
header ul {
    float: right;
    padding-top: 18px;
    margin-right: 50px;
}
header li {
    display: inline-block;
    /* margin-right: 30px; */
}
header a, header a:visited {
    text-decoration: none;
    color: #393a3a;
    font-size: 14px;
    padding: 15px 20px;
    font-family: "微软雅黑", sans-serif;
    border-bottom: solid 0 #e74f4d;
}
header a:hover {
    color: #e74f4d;
    border-bottom: solid 5px #e74f4d;
    transition-duration: 0.3s;
}
header li > .active {
    color: #e74f4d;
    border-bottom: solid 5px #e74f4d;
}
header li > .login-text {
    color: #e74f4d;
}
.login-icon {
    background-image: url("../img/login-icon.png");
    width: 14px;
    height: 17px;
    display: block;
    position: absolute;
    top: 20px;
}

/* 首页大图 */
.cover {
    width: 100%;
    height: calc(100vmin - 55px);
    position: relative;
}
.cover > img {
    width: 100%;
    height: 100%;
    -webkit-filter: brightness(0.8);
    position: absolute;
    top: 0;
}
.cover h1 {
    font-size: 60px;
    color: #fff;
    font-family: "微软雅黑", sans-serif;
    position: absolute;
    top: 340px;
    left: 150px;
    font-weight: normal;
}
.cover .h3-wrapper {
    position: absolute;
    top: 450px;
    left: 165px;
    width: 320px;
}
.cover h3 {
    font-size: 21px;
    color: #fff;
    font-family: "微软雅黑", sans-serif;
    font-weight: normal;
}
.cover .start-bottom, .cover .start-bottom:visited {
    background-color: #e7504d;
    font-size: 30px;
    color: #fff;
    font-family: "微软雅黑", sans-serif;
    text-decoration: none;
    padding: 10px 110px;
    display: block;
    position: absolute;
    top: 550px;
    left: 165px;
}

/* 简介栏 */
.intro {
    width: 100%;
    height: 250px;
    text-align: center;
    position: relative;
}
.intro-block {
    width: 25%;
    height: 100%;
    padding: 3.5% 7.2% 4% 7.2%;
    float: left;
}
.intro img {
    margin-bottom: 25%;
}
.intro p {
    font-size: 14px;
    font-family: "Adobe 黑体 Std R", "黑体", sans-serif;
    color: #767777;
    line-height: 18px;
}
.intro .short-line {
    position: absolute;
    width: 2px;
    height: 50px;
    background-color: #767777;
    top: 55%;
}
.intro .short-line1 {
    left: 25%;
}
.intro .short-line2 {
    left: 50%;
}
.intro .short-line3 {
    left: 75%;
}

/* 问句栏 */
.question:before, .question:after {
    content: "";
    clear: both;
    display: table;
}
.question {
    width: 100%;
    height: 350px;
    background-color: #ededed;
    clear: both;
}
.question img {
    width: 91px;
    height: 92px;
    margin: 85px auto 50px auto;
    display: block;
}
.question p {
    font-size: 60px;
    font-family: "Adobe 黑体 Std R", "黑体", sans-serif;
    color: rgba(50, 51, 51, 0.5);
    line-height: 56px;
    text-align: center;
}

/* 查找城市活动信息栏 */
.search:before, .search:after {
    content: "";
    clear: both;
    display: table;
}
.search {
    width: 100%;
    height: 350px;
    background-image: url("../img/map.jpg");
    background-size: 100% auto;
    position: relative;
}
.search .title {
    font-size: 21px;
    color: #fff;
    font-family: "微软雅黑", sans-serif;
    line-height: 42px;
    text-align: center;
    margin-top: 50px;
}
.search .white-line {
    width: 30px;
    height: 2px;
    background-color: #fff;
    display: block;
    margin: 0 auto;
}
.search p {
    font-size: 14px;
    color: rgba(255, 255, 255, 1.0);
    font-family: "微软雅黑", sans-serif;
    line-height: 24px;
    text-align: center;
    margin-top: 10px;
}